body {
 background-image: url(../img/bgg.jpeg);
 background-size: cover;
 background-position: 50% 50%;
 margin-left: 2.5em;
 margin-right: 2.5em;
}

h1 {
 font-family: 'Baloo Bhai', cursive;
 font-size: 100px;
 color: #BDBD4A ;
 margin-left: 15px;
}
h2 {
 font-family: 'Baloo Bhai', cursive;
 font-size: 50px;
 color: #BDBD4A ;
 margin-left: 15px;
}

#recipes {
	margin: 10px auto;
	font-size: 25px;
}
#description {
	font-size: 16px;
}

.buttons {
 margin: 70px auto;
 text-align: center;
}

.btn {
 margin-top: 20px;
 font-family: 'Baloo Bhai', cursive;
}

.tags {
	color: ;
	padding: 0 10px;
}

